DISCORD_BOT_TOKEN=buraya_discord_bot_tokenini_yapistir
KICK_CLIENT_ID=buraya_kick_client_id
KICK_CLIENT_SECRET=buraya_kick_client_secret
CHECK_INTERVAL_SECONDS=20
DATA_DIR=/data
DAILY_WAIT_SECONDS=120
GEMINI_API_KEY=buraya_gemini_api_anahtarini_yapistir
GEMINI_MODEL=gemini-flash-latest
TRAP_TIMEOUT_DAYS=28
